
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif !important;
}


main{
    width: 700px;
    height: 90vh;
    padding: 15px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.3 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

main>h1{
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}

form label{
    display: block;
    margin: 10px 0;
}

form>div{
    padding: 5px 10px;
}

/* textarea */
form div>textarea{
    display: block;
    margin: 10px 0;
    width: 100%;
    height: 50px;
    font-size: 1rem;
    resize: none;
}

form div>textarea:focus{
    outline: none;
}

/* Category and Date */
#additionals{
    display: flex;
    justify-content: space-around;
}

#additionals>div{
    width: 50%;
}

#additionals select, #additionals input{
    width: 90%;
    height: 30px;
}

/* Add and Delete Buttons */
#buttons{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#buttons button{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

button i{
    margin-left: 10px;
    font-size: 1.1rem;
}

/* task-container and task item */

#task-container{
    padding: 20px;
    height: 40%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
#task-container::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
#task-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
} 

.task-card{
    display: flex;
    height: max-content;
    border-top: 1px solid rgb(231, 231, 231);
    padding: 15px 0;
}

/* checkbox */
.task-checkbox{
    width: 30px;
}

.task-checkbox input{
    width: 15px;
    height: 15px;
}


/* task description and date */
.task-description{
    width: 80%;
}

.task-description .date{
    font-size: 0.8rem;
    padding: 5px 0;
}

/* task-category */
.category p{
    color: white;
    width: 80px;
}

.theme-switcher{
    position: absolute;
    top: 16px;
    right: 16px;
}

/* will add if checkbox is checked */
.line-through{
    text-decoration: line-through;
}